		<!-- Header -->
			<div id="header">

				<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="index.html" id="logo">Lauren Gulland</a></h1>
							<hr />
							<p>Robotics Engineering Student</p>
						</header>
						<!-- <footer>
							<a href="#banner" class="button circled scrolly">Start</a>
						</footer> -->
					</div>

				<!-- Nav -->
					<nav id="nav">
						<ul>
							<li><a href="index.html">Home</a></li>
							<li>
								<a href="">Projects</a>
								<ul>
									<li><a href="#">Lorem ipsum dolor</a></li>
									<li><a href="#">Magna phasellus</a></li>
									<li><a href="#">Etiam dolore nisl</a></li>
									<li>
										<a href="">Templates &hellip;</a>
										<ul>
											<li><a href="left-sidebar.html">Left Sidebar</a></li>
											<li><a href="right-sidebar.html">Right Sidebar</a></li>
											<li><a href="no-sidebar.html">No Sidebar</a></li>
										</ul>
									</li>
									<li><a href="#">Veroeros feugiat</a></li>
								</ul>
							</li>
							<!-- https://www.dropbox.com/s/9ju5ak4rwqyh99q/Resume_LaurenGulland_20170731.pdf?dl=0 -->

							<li><a href="https://www.dropbox.com/s/9ju5ak4rwqyh99q/Resume_LaurenGulland_20170731.pdf?dl=1" download="LaurenGulland_20170731Resume.pdf">Download Resume</a></li>
							<li><a href="right-sidebar.html">Right Sidebar</a></li>
							<li><a href="no-sidebar.html">No Sidebar</a></li>
						</ul>
					</nav>

			</div>
